<%= render 'form', parcel_ad: @parcel_ad %>

<%# <button type="button" class="btn btn-success" onclick="showThankYouModal()">Test Modal</button> %>
<div class="modal fade show" id="thankyouModal" tabindex="-1" aria-labelledby="thankyouModalLabel">
  <div class="modal-dialog modal-dialog-centered shadow border mt-4">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="thankyouModalLabel">Thank You!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center mt-5">
        <h5>Your request has been successfully shared. You can check it in your dashboard.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="thankyou-ok-btn">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:submit-end", function(event) {
    if (event.detail.success) {
      const modalEl = document.getElementById('thankyouModal');
      const thankyouModal = new bootstrap.Modal(modalEl);
      thankyouModal.show();

      document.getElementById('thankyou-ok-btn').addEventListener('click', function () {
        thankyouModal.hide();
        setTimeout(() => {
          window.location.href = "<%= parcel_ads_path %>"; // Redirect after success
        }, 300);
      });
    }
  });
</script>
