<h1>Welcome <%= @user.full_name %> to DREXBE. </h1>
<p>
  You have successfully signed up to this app!
  Your username is: <%= @user.full_name %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>