<section class="mt-5">
  <div class="container bg-light p-5">
    <div class="row">
      <div class="row align-items-center mb-4">
      <div class="col-md-10">
        <h1 class="faq-title mb-3 text-center text-md-start">
          FAQ
        </h1>
      </div>
      <div class="col-md-2 text-center text-md-end">
        <div class="arrow-icon">
          <i class="fas fa-chevron-right text-dark fs-4"></i>
        </div>
      </div>
    </div>

      <%# <div class="col-md-10">
        <div class="">
          <h1 class="faq-title mb-3">
            FAQ
          </h1>
        </div>
      </div>
      <div class="col-lg-2">
       <div class="arrow-icon">
          <i class="fas fa-chevron-right text-dark fs-4"></i>
        </div>  
      </div> %>
    </div>

    <div class="row">
      <div class="faq-grid">
        <!-- FAQ Card 1 -->
        <div class="faq-card shadow">
          <h2 class="card-title">Which Sellers Can The Buy For Me Services Help With?</h2>
          <p class="card-text mt-3 fs-5">
            The Buy For Me Service is Able to Pay For Goods On Your Behalf Only When The Seller Can't or Won't Accept Credit or Debit Cards Issued by Banks Outside Their Country. This Service Cannot Be Used to Purchase Virtual Goods (e.g. Downloadable material and
            Digital Subscriptions.)
          </p>
          <a href="#" class="more-info">More Information</a>
        </div>

        <!-- FAQ Card 2 -->
        <div class="faq-card shadow">
          <h2 class="card-title">Does NYBox Provide shipping tracking information?</h2>
          <p class="card-text mt-3 fs-5">
            Yes! Once Your Package has been shipped out from our facility, You can track your shipment from your NYBox account or From Carrier's website using the provided tracking number.
          </p>
          <a href="#" class="more-info">More Information</a>
        </div>
      </div>  
    </div>      
  </div>
</section>