<section class="section popular-car-type">
  <div class="container mt-2 mb-3 bg-light p-4 p-md-5 fs-4">
    <div class="row g-4 align-items-center">
      <!-- Left Text Content -->
      <div class="col-12 col-md-6">
        <h3 class="fs-1" style="color: #353188 !important">
          Privacy Policy
        </h3>
        <p class="fs-4 fw-bold text-dark mb-1 mt-1">Your Privacy, Our Priority</p>
        <p class="fs-5 text-dark mt-1">Our platform uses advanced encryption to protect your data and ensure safe transactions. Browse, send, buy, carry, or interact with confidence.</p>
        <p class="fs-5 text-dark mt-1">Your information is in trusted hands.</p>
      </div>
      
      <!-- Right Image -->
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <%= image_tag "policy.png", class: "img-fluid", style: "max-width: 300px; height: auto;" %> 
      </div>
    </div>

    <!-- Button (Centered on Mobile, Left-aligned on Desktop) -->
    <div class="d-flex justify-content-center justify-content-md-start mt-4">
      <%= link_to "Your rights with our Privacy Policy", privacy_policy_path, class: "rounded btn hero-button fs-5"%>
    </div>
  </div>
</section>