<section class="privacy-section">
  <div class="container">
    <div class="privacy-content">
      <div class="privacy-text">
        <h2 class="fs-1">Privacy Policy</h2>
        <p class="fs-4 fw-bold">Your Privacy, Our Priority</p>
        <p class="lead text-dark">Our Platform uses advanced encryption to protect your data and ensure safe transactions browse, send, buy, carry, or interact with confidence.</p>
        <p class="lead text-dark">Your information is in trusted hands.</p>
        <a type="button" class="privacy-btn fs-5 text-decoration-none" href="<%= privacy_policy_path %>" >Your rights with our Privacy Policy</a>
      </div>
      <div class="privacy-illustration">
        <%= image_tag 'policy.png', alt:"Privacy Protection Illustration" %>
      </div>
    </div>
  </div>
</section>