<section class="contact-section">
  <div class="contact-header">
    <h2 style="color: #fff;" class="fs-2">Do you have any questions or any assitance ?</h2>
    <p style="color: #fff;">Got Questions? We're Here to Help!</p>
  </div>

  <div class="contact-options">
    <div class="contact-item">
      <div class="icon">
        <%= image_tag "headphone.png", size: "50x50" %>
      </div>
      <h3 style="color: #fff; margin-top: 20px;" class="fs-4">Call Us</h3>
      <p style="color: #fff;" class="fs-5">France: +33366010343</p>
    </div>

    <div class="contact-item">
      <div class="icon">
        <%= image_tag "email.png", size: "50x50" %>
      </div>
      <h3 style="color: #fff; margin-top: 20px;" class="fs-4">Send use email</h3>
      <p style="color: #fff;" class="fs-5">Email: info@drexbe.com</p>
    </div>

    <div class="contact-item">
      <div class="icon">
        <%= image_tag "chat.png", size: "50x50" %>
      </div>
      <h3 style="color: #fff; margin-top: 20px;" class="fs-4">Chat with a specialist</h3>
      <a href="#" class="start-chat fs-5" style="color: #fff;">Start Chat</a>
    </div>
  </div>
</section>