<div class="col-lg-8 mx-auto mt-4">
  <h1>Traveler Map</h1>

  <div
    data-controller="map"
    data-map-travelers-url-value="<%= travelers_path(format: :json) %>"
    id="map"
    style="height: 500px;">
  </div>

  <script type="application/json" id="travelers-data">
    <%= raw @travelers.to_json(only: [:id, :departure_city, :departure_country, :arrival_city, :arrival_country, :name, :travel_date]) %>
  </script>
</div>

<style>
  #map {
    width: 100%;
    height: 500px;
    border: 2px solid red;
  }
</style>