<h1 class="text-center mt-5">What document do you want to upload?</h1>
  <div class="document-option">
      <h2><%= link_to 'Passport', upload_passport_path, class: 'text-decoration-none text-dark' %></h2>
      <p>Page with photo</p>
  </div>
  <div class="document-option">
      <h2><%= link_to 'Identity card', upload_identity_card_path, class: 'text-decoration-none text-dark' %></h2>
      <p>EU ID cards only</p>
  </div>

<style>
  h1 {
      font-size: 2.5rem;
      color: #004d40;
      margin-bottom: 50px;
  }
  .document-option {
      text-align: left;
      margin: 0 auto;
      max-width: 400px;
      padding: 15px 0;
      border-bottom: 1px solid #e0e0e0;
  }
  .document-option:last-child {
      border-bottom: none;
  }
  .document-option h2 {
      font-size: 1.25rem;
      color: #004d40;
      margin: 0;
  }
  .document-option p {
      font-size: 1rem;
      color: #757575;
      margin: 0;
  }
  .document-option .arrow {
      float: right;
      font-size: 1.5rem;
      color: #004d40;
  }
  .privacy-policy {
      font-size: 0.875rem;
      color: #757575;
      margin-top: 30px;
  }
  .privacy-policy a {
      color: #004d40;
      text-decoration: none;
  }
</style>
