<h1 class="text-center mt-5">What document do you want to upload?</h1>
  <div class="document-option">
      <h2><%= link_to 'Passport', upload_passport_path, class: 'text-decoration-none text-dark' %></h2>
      <p>Page with photo</p>
  </div>
  <div class="document-option">
      <h2><%= link_to 'Identity card', upload_identity_card_path, class: 'text-decoration-none text-dark' %></h2>
      <p>EU ID cards only</p>
  </div>
  
